<!-- NB. This header illustrates how the app pages should look.
         Logo size & placement: for app pages, should match "narrow" configuration.

         Needs to be integrated into _includes/header.html -->

<style>
/* allow space for the CFRP logo */
#go-to-app {
  visibility: hidden;
}

/* should have small logo on right, regardless of media size */
#cfrp-logo-container {
  pointer-events: none;
  display: block;
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0px;
  left: 0px;
  z-index: 100; }
  #cfrp-logo-container #cfrp-logo-app {
    position: absolute;
    display: block;
    margin-top: -20px;
    margin-right: 10px;
    right: 0%; }
    #cfrp-logo-container #cfrp-logo-app img {
      transform: scale(0.65);
      -webkit-transform: scale(0.65);
      -moz-transform: scale(0.65); }
</style>

<div class="fixed">
  <nav class="top-bar" data-topbar>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="left">
        <li id="top-menu-link" class="top-nav-link"><a href="#">Menu</a></li>
        <li class="top-nav-link"><a href="/fr/">Acceuil</a></li>
        <li class="top-nav-link"><a href="/fr/contexte-du-projet">Contexte du Projet</a></li>
        <li class="top-nav-link"><a href="/fr/registres">Registres</a></li>
        <li class="top-nav-link"><a href="/fr/ouvrages">Acceder aux données</a></li>
        <li class="top-nav-link fr-language">
            <a href="/fr/index.html">fr</a>
        </li>
        <li class="top-nav-link en-language">
            <a href="/en/index.html">en</a>
        </li>
      </ul>
      <!-- Left Nav Section
      <ul class="left">
        <li class="flag" id="flag-left">
          <a href="/fr/index.html"><img src="/img/fr-flag.png"></a>
        </li>
        <li class="flag" id="flag-right">
          <a href="/en/index.html"><img src="/img/en-flag.png"></a>
        </li>
      </ul>
      <a href="/fr" id="cfrp-logo-wide"><img src="/img/cfrp-logo-top-nav.png"></a>
       -->
    </section>
  </nav>
  <div id="cfrp-logo-container">
    <a href="#" id="cfrp-logo-app"><img src="/img/cfrp-logo-top-nav.png"></a>
  </div>
</div>