  <!--BEGIN FOOTER-->
  <div id="footer-wrapper">
    <div class="row">
      <div class="small-12 medium-9 columns">
        <div id="search_container">
          <input type="text">
        </div>
{% for navitem in site.data.footer-navigation-translations %}
  {% if navitem.lang == page.lang %}
        <p><a href="{{navitem.url}}">{{navitem.title}}</a></p>
  {% endif %}
{% endfor %}
      </div>
      <!--contact area-->
      <div class="small-12 medium-3 columns">
        <p class="contact">{% for item in site.data.single-translations %}
  {% if item.lang == page.lang and item.name == "contact" %}{{item.title}}{% endif %}
{% endfor %}<br>
          <a href="mailto:{{site.email}}">{{site.email}}</a>
        </p>
        <!-- email signup -->
        <form>
          <div class="row collapse">
            <div class="small-10 columns">
              <input type="text" placeholder="Join The Email List">
            </div>
            <div class="small-2 columns">
              <a href="#" class="button postfix">&rarr;</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row" id="logos">
      <div class="small-12 columns show-for-large">
        <img src="/img/footer_logos_8up.png" alt="footer_logos_8up" width="1043" height="86">
      </div>
      <div class="large-6 columns hide-for-large">
        <img src="/img/footer_logos_4up_1.png">
      </div>
      <div class="large-6 columns hide-for-large">
        <img src="/img/footer_logos_4up_2.png">
      </div>
    </div>
  </div>
  <!--END FOOTER-->
  <!--end body content-->

  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  <script src="/js/app.js"></script>