---
lang: fr
tid: default-home
title: Base des Données CFRP
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
<head>
{% include head.html %}
<script src="lib/d3.min.js"></script>
<script src="lib/colorbrewer.js"></script>
<script src="lib/queue.min.js"></script>
<script src="lib/crossfilter.min.js"></script>
<script src="js/join.js"></script>
<script src="js/mdat.js"></script>  <!-- just for namespace -->
<script src="js/router.js"></script>
<script src="js/query.js"></script>
<script src="js/pivot.js"></script>
<script src="js/calendar.js"></script>
<script src="js/register.js"></script>
<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/query.css">
<link rel="stylesheet" href="css/pivot.css">
<link rel="stylesheet" href="css/calendar.css">
<link rel="stylesheet" href="css/register.css">
</head>
<body class="setup">
<!-- body content here -->
{% include app-header.html %}
<div id="query_panel"></div>
<div id="slider">
  <div id="report_panel"></div>
  <svg id="calendar_panel"></svg>
  <svg id="register_panel"></svg>
  <div id="spinner"></div>
</div>
  <script>

    //
    // Profiling
    //

    var prev_checkpoint = undefined;
    function checkpoint(msg) {
      var t = Date.now();
      if (msg)
        console.log(msg + (prev_checkpoint ? (" (" + (t - prev_checkpoint) + "ms)") : ""));
      prev_checkpoint = t;
    }

    checkpoint("Starting");

    //
    // Load and process dataset
    //

    var basename = "http://christopheryork.github.io/";  // TODO.  rehost data

    queue()
      .defer(d3.tsv, basename + "data/cfrp-sales.tsv")
      .defer(d3.tsv, basename + "data/cfrp-performances.tsv")
      .defer(d3.tsv, basename + "data/cfrp-plays.tsv")
      .await(function(error, sales, performances, plays) {
        if (error) return console.error(error);

        checkpoint("Loaded files");

        // TODO.  decide whether to denormalize the data entirely...
        //        this embeds the join between sales and playbill in
        //        a hash dereference

        var playbill = join_hash(performances, plays, ["author", "title"]),
            playbill_idx = {};

        playbill = playbill.map(type_playbill);

        playbill.forEach(function(d) {
          if (!playbill_idx[d.date]) { playbill_idx[d.date] = []; }
          playbill_idx[d.date].push(d);
        });

        sales = sales.map(type_sales);

        sales.forEach(function(d) {
          if (!playbill_idx[d.date]) { playbill_idx[d.date] = []; }
        });

        function pb_attr(d, v) {
          var pb = cfrp.playbill_idx[d.date][0];
          return pb ? (pb[v] || "...") : "...";
        }

        checkpoint("Postprocessed data");

        // crossfilter

        var cfrp = crossfilter(sales);

        // TODO. how to share ancillary data?
        cfrp.sales = sales;
        cfrp.playbill = playbill;
        cfrp.playbill_idx = playbill_idx;

        var datapoint_dispatch = d3.dispatch("change", "refine");
        d3.rebind(cfrp, datapoint_dispatch, "on", "refine", "dispatch");
        d3.rebind(cfrp, datapoint_dispatch, "on", "change", "dispatch");

        //
        // state
        //

        var default_query = {
            filter: {},
            rows: [ 'Author', 'Title' ],
            agg: 'sum(receipts)'
          };

        //
        // listen for changes in the model (internal events) or the url (external events)
        //

        cfrp.cur_query = function() {
          return mdat.router.parse_url(window.location.href) || default_query;
        }

        cfrp.on("refine.mdat", function(query) {
          var url = mdat.router.url(query);
          history.pushState(null, "", url);
        });

        window.onpopstate = function(event) {
          var query = cfrp.cur_query();
          cfrp.refine(query);
          cfrp.change();
        }

        //
        // initialize pivot table
        //

        var pivot = mdat.visualization.pivot_table()
          .datapoint(cfrp)
          .dimension('Decade', function(d) { return decade(d.date); })
          .dimension('Season',  function(d) { return season(d.date); })
          .dimension('Month', function(d) { return monthFormat(d.date); })
          .dimension('Weekday', function(d) { return weekdayFormat(d.date); })
          .dimension('Day',   function(d) { return d.date; })
          .dimension('Section', function(d) { return d.section; })
          .dimension('Author', function(d) { return pb_attr(d, 'author'); })
          .dimension('Title',  function(d) { return pb_attr(d, 'title'); })
          .dimension('Genre',  function(d) { return pb_attr(d, 'genre'); })
          .dimension('Acts',   function(d) { return pb_attr(d, 'acts'); })
          .dimension('Prose Verse', function(d) { return pb_attr(d, 'prose_vers'); })
          .dimension('Signatory', function(d) { return pb_attr(d, 'signatory'); })
//          .dimension('Prologue', function(d) { return pb_attr(d, 'prologue'); })
//          .dimension('MDM', function(d) { return pb_attr(d, 'musique_danse_machine'); })
//          .dimension('Play Date', function(d) { return pb_attr(d, 'date_de_creation'); })
//          .dimension('Free Access', function(d) { return pb_attr(d, 'free_access'); })
//          .dimension('First Run', function(d) { return pb_attr(d, 'first_run'); })
//          .dimension('Reprise', function(d) { return pb_attr(d, 'reprise'); })
//          .dimension('New Actor', function(d) { return pb_attr(d, 'newactor'); })
//          .dimension('Debut', function(d) { return pb_attr(d, 'debut'); })
//          .dimension('ExAttendance', function(d) { return pb_attr(d, 'ex_attendance'); })
//          .dimension('ExRepresentation', function(d) { return pb_attr(d, 'ex_representation'); })
//          .dimension('ExPlace', function(d) { return pb_attr(d, 'ex_place'); })
          .aggregate('count(date)', function(v) { return cardinality(v, function(d) { return d.date; }); })
          .aggregate('sum(receipts)', function(v) { return sum(v, function(d) { return d.price * d.sold; }) })
          .aggregate('avg(receipts/day)', function(v) {
            return sum(v, function(d) { return d.price * d.sold; }) / cardinality(v, function(d) { return d.date; })
          })
//          .aggregate('sum(sold)', function(v) { return sum(v, function(d) { return d.sold; }) })
//          .aggregate('avg(sold/day)', function(v) { return sum(v, function(d) { return d.sold; }) / cardinality(v, function(d) { return d.date; }) })
          .format('Day', d3.time.format("%a %d %b %Y"))
          .format('Decade', d3.time.format("%Y"))
          .format('sum(receipts)', d3.format(",.2f"))
          .format('avg(receipts/day)', d3.format(",.2f"))
          .format('sum(sold)', d3.format(","))
          .format('avg(sold/day)', d3.format(",.2f"))
          .format('avg(price)', d3.format(").2f"));

        d3.select("#report_panel")
          .call(pivot);

        //
        // initialize visualization components
        //

        var calendar = mdat.visualization.calendar()
                         .datapoint(cfrp),
            register = mdat.visualization.register()
                         .datapoint(cfrp),
            query = mdat.visualization.query()
                      .datapoint(cfrp)
                      .dimensions(d3.keys(pivot.dimension()))
                      .aggregates(d3.keys(pivot.aggregate()));

        d3.select("#calendar_panel")
          .call(calendar);

        d3.select("#register_panel")
          .call(register);

        d3.select("#query_panel")
          .call(query);

        //
        // inter-component communication, not mirrored in URLs
        //

        calendar.on("preview", function(date) {
          register.preview(date);
        });
        // TODO. remove & find a proper initialisation order
        register.preview(d3.time.format("%Y-%m-%d").parse("1773-04-19"));

        //
        // fire initial update to parse urls
        //

        cfrp.refine(cfrp.cur_query());
        cfrp.change();


        // remove loading spinner

        d3.select("body")
          .classed("setup", false);
      });

    //
    // Utility functions for accessing data
    //

    function decade(date) {
      date = d3.time.year(date);
      date.setFullYear(Math.floor(date.getFullYear() / 10) * 10);
      return date;
    };

    function season(date) {
      var year = date.getFullYear(),
          rounded = new Date(year, 4, 1);
      if (date - rounded >= 0) { return year + "-" + (year+1); }
      else { return (year-1) + "-" + year; }
    };

    var weekdayFormat = d3.time.format("%A"),
        monthFormat = d3.time.format("%B");

    function sum(vs, f) {
      return vs.map(f).reduce(function(p, d) { return p + d; }, 0.0);
    }

    function cardinality(v, f) {
      var o = Object.create(null);
      for(var i=0; i<v.length; i++) {
        var val = f ? f(v[i]) : v[i];
        if(val && !o[val]) { o[val] = true; }
      }
      var i = 0;
      for(var val in o) { i = i + 1; }
      return i;
    }

    //
    // convert from parsed CSV strings to native data format
    //

    var dateFormat = d3.time.format("%Y-%m-%d");

    function type_playbill(d) {
      d.date = dateFormat.parse(d.date);
      d.prologue = (d.prologue === 't');
      d.musique_danse_machine = (d.musique_danse_machine === 't');
      d.ordering = +d.ordering;
      d.register = +d.register;
      d.receipts = +d.receipts;
      d.representation = +d.representation;
      d.ouverture = (d.ouverture === 't');
      d.cloture = (d.cloture === 't');
      d.free_access = (d.free_access === 't');
      d.firstrun = (d.firstrun === 't');
      d.firstrun_perfnum = +d.firstrun_perfnum;
      d.reprise = (d.reprise === 't');
      d.reprise_perfnum = +d.reprise_perfnum;
      d.debut = (d.debut === 't');
      d.acts = +d.acts;
      return d;
    };

    function type_sales(d) {
      d.date = dateFormat.parse(d.date);
      d.sold = +d.sold;
      d.price = +d.price;
      return d;
    }

  </script>
{% include footer.html %}
</body>
</html>