---
lang: fr
tid: default-home
title: Base des Données CFRP
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
<head>
{% include head.html %}
<script src="lib/d3.min.js"></script>
<script src="lib/colorbrewer.js"></script>
<script src="lib/queue.min.js"></script>
<script src="lib/crossfilter.min.js"></script>
<script src="js/join.js"></script>
<script src="js/mdat.js"></script>  <!-- just for namespace -->
<script src="js/router.js"></script>
<script src="js/query.js"></script>
<script src="js/calendar.js"></script>
<script src="js/register.js"></script>
<script src="js/pivot.js"></script>
<link rel="stylesheet" href="css/app.css">
<link rel="stylesheet" href="css/query.css">
<link rel="stylesheet" href="css/pivot.css">
<link rel="stylesheet" href="css/calendar.css">
<link rel="stylesheet" href="css/register.css">
</head>
<body>
<!-- body content here -->
{% include app-header.html %}
<div id="query_panel"></div>
<div id="report_panel"></div>
<svg width="475" height="512"><g id="calendar_panel"></g></svg>
<svg width="365" height="512"><g id="register_panel"></g></svg>
<div id="spinner"></div>
  <script>

    //
    // Profiling
    //

    var prev_checkpoint = undefined;
    function checkpoint(msg) {
      var t = Date.now();
      if (msg)
        console.log(msg + (prev_checkpoint ? (" (" + (t - prev_checkpoint) + "ms)") : ""));
      prev_checkpoint = t;
    }

    checkpoint("Starting");

    //
    // Load and process dataset
    //

    queue()
      .defer(d3.tsv, "data/cfrp-sales.tsv")
      .defer(d3.tsv, "data/cfrp-performances.tsv")
      .defer(d3.tsv, "data/cfrp-plays.tsv")
      .await(function(error, sales, performances, plays) {
        if (error) return console.error(error);

        checkpoint("Loaded files");

        // TODO.  decide whether to denormalize the data entirely...
        //        this embeds the join between sales and playbill in
        //        a hash dereference

        var playbill = join_hash(performances, plays, ["author", "title"]),
            playbill_idx = {};

        playbill = playbill.map(type_playbill);

        playbill.forEach(function(d) {
          if (!playbill_idx[d.date]) { playbill_idx[d.date] = []; }
          playbill_idx[d.date].push(d);
        });

        sales = sales.map(type_sales);

        sales.forEach(function(d) {
          if (!playbill_idx[d.date]) { playbill_idx[d.date] = []; }
        });

        checkpoint("Postprocessed data");

        // crossfilter

        var cfrp = crossfilter(sales);

        // TODO. how to share ancillary data?
        cfrp.sales = sales;
        cfrp.playbill = playbill;
        cfrp.playbill_idx = playbill_idx;

        var datapoint_dispatch = d3.dispatch("change", "refine");
        d3.rebind(cfrp, datapoint_dispatch, "on", "refine", "dispatch");
        d3.rebind(cfrp, datapoint_dispatch, "on", "change", "dispatch");

        // declare the available dimensions & aggregates

        cfrp.defs = {
          dimensions: dimensions(cfrp),
          aggregates: aggregates(cfrp)
        }

        //
        // state
        //

        var default_query = {
            filter: {},
            rows: [ 'Author', 'Title' ],
            agg: 'sum(receipts)'
          };

        mdat.router.install(cfrp, window.location.href, default_query);

        // initialize components

        d3.select("#query_panel")
          .call(mdat.visualization.query()
                  .datapoint(cfrp));

        d3.select("#calendar_panel")
          .call(mdat.visualization.calendar()
                  .datapoint(cfrp));

        d3.select("#register_panel")
          .call(mdat.visualization.register()
                  .datapoint(cfrp));

        d3.select("#report_panel")
          .call(mdat.visualization.pivot_table()
                  .datapoint(cfrp));

      });


    //
    // convert from parsed CSV strings to native data format
    //

    var dateFormat = d3.time.format("%Y-%m-%d");

    function type_playbill(d) {
      d.date = dateFormat.parse(d.date);
      d.prologue = (d.prologue === 't');
      d.musique_danse_machine = (d.musique_danse_machine === 't');
      d.ordering = +d.ordering;
      d.register = +d.register;
      d.receipts = +d.receipts;
      d.representation = +d.representation;
      d.ouverture = (d.ouverture === 't');
      d.cloture = (d.cloture === 't');
      d.free_access = (d.free_access === 't');
      d.firstrun = (d.firstrun === 't');
      d.firstrun_perfnum = +d.firstrun_perfnum;
      d.reprise = (d.reprise === 't');
      d.reprise_perfnum = +d.reprise_perfnum;
      d.debut = (d.debut === 't');
      d.acts = +d.acts;
      return d;
    };

    function type_sales(d) {
      d.date = dateFormat.parse(d.date);
      d.sold = +d.sold;
      d.price = +d.price;
      return d;
    }

  //
  // Dimensions
  //

  function dimensions(cfrp) {

    var weekdayFormat = d3.time.format("%A"),
        monthFormat = d3.time.format("%B");

    function decade(date) {
      date = d3.time.year(date);
      date.setFullYear(Math.floor(date.getFullYear() / 10) * 10);
      return date;
    };

    function season(date) {
      var year = date.getFullYear(),
          rounded = new Date(year, 4, 1);
      if (date - rounded >= 0) { return year + "-" + (year+1); }
      else { return (year-1) + "-" + year; }
    };

    function pb_attr(d, v) {
      var pb = cfrp.playbill_idx[d.date][0];
      return pb ? (pb[v] || "...") : "...";
    }

    return {
      Decade: function(d) { return decade(d.date); },
      Season:  function(d) { return season(d.date); },
      Month: function(d) { return monthFormat(d.date); },
      Weekday: function(d) { return weekdayFormat(d.date); },
      Day:   function(d) { return d.date; },

      Section: function(d) { return d.section; },

      Author: function(d) { return pb_attr(d, 'author'); },
      Title:  function(d) { return pb_attr(d, 'title'); },
      Genre:  function(d) { return pb_attr(d, 'genre'); },
      Acts:   function(d) { return pb_attr(d, 'acts'); },
      'Prose Verse': function(d) { return pb_attr(d, 'prose_vers'); },
  //          Prologue: function(d) { return pb_attr(d, 'prologue'); },
  //          MDM: function(d) { return pb_attr(d, 'musique_danse_machine'); },
  //          'Play Date': function(d) { return pb_attr(d, 'date_de_creation'); },
      Signatory: function(d) { return pb_attr(d, 'signatory'); },
  //          'Free Access': function(d) { return pb_attr(d, 'free_access'); },
  //          'First Run': function(d) { return pb_attr(d, 'first_run'); },
  //          Reprise: function(d) { return pb_attr(d, 'reprise'); },
  //          'New Actor': function(d) { return pb_attr(d, 'newactor'); },
  //          Debut: function(d) { return pb_attr(d, 'debut'); },
  //          ExAttendance: function(d) { return pb_attr(d, 'ex_attendance'); },
  //          ExRepresentation: function(d) { return pb_attr(d, 'ex_representation'); },
  //          ExPlace: function(d) { return pb_attr(d, 'ex_place'); }
    };
  }

  //
  // Aggregates
  //

  function aggregates(cfrp) {

    function sum(vs, f) {
      return vs.map(f).reduce(function(p, d) { return p + d; }, 0.0);
    }

    function cardinality(v, f) {
      var o = Object.create(null);
      for(var i=0; i<v.length; i++) {
        var val = f ? f(v[i]) : v[i];
        if(val && !o[val]) { o[val] = true; }
      }
      var i = 0;
      for(var val in o) { i = i + 1; }
      return i;
    }

    return {
      'count(date)': function(v) {
        return cardinality(v, cfrp.defs.dimensions['Day']);
      },
      'sum(receipts)': function(v) {
        return sum(v, function(d) { return d.price * d.sold; });
      },
      'avg(receipts/day)': function(v) {
        return sum(v, function(d) { return d.price * d.sold; }) / cardinality(v, cfrp.defs.dimensions['Day']);
      },
      'sum(sold)': function(v) {
        return sum(v, function(d) { return d.sold; });
      },
      'avg(sold/day)': function(v) {
        return sum(v, function(d) { return d.sold; }) / cardinality(v, cfrp.defs.dimensions['Day']);
      }
    };
  }
  </script>
{% include footer.html %}
</body>
</html>