<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
{% include head.html %}
</head>
    <body>
    <!-- body content here -->
    {% include header.html %}

    <ul class="hero-orbit" data-orbit data-options="slide_number: false; animation: slide;timer_speed: 6000; pause_on_hover: false; next_on_click: true; animation_speed: 500;navigation_arrows: true;">
{% for slide in site.data.home-slideshow %}
  {% if slide.lang == page.lang %}
        <li>
            <div class="orbit-image" style="background-image: url('{{slide.background-image}}');"></div>
            <div class="orbit-caption">
                <div class="row">
                    <div class="medium-9 columns hero-captions">
                        <h6>{{slide.small-heading}}</h6>
                        <h1>{{slide.large-heading}}</h1>
                        <h3>{{slide.caption}}</h3>
                        <p><a href="{{slide.link-destination}}">{{slide.link-text}} &raquo;</a></p>
                    </div>
                </div>
            </div>
        </li>
  {% endif %}
{% endfor %}
    </ul>
    <div class="row">

        {% comment %}
        <!--Begin left case study column-->
        <div class="small-12 medium-3 columns">
            <section class="home-case-study-column">

                <article class="home-case-study-entry">
                    <h4>Case study</h4>
                    <h2>Changing patterns of public taste and cultural consumption</h2>
                    <h4><a href="#">Read more</a></h4>
                </article>

                <article class="home-case-study-entry">
                    <h4>Case study</h4>
                    <h2>Changing patterns of public taste and cultural consumption</h2>
                    <h4><a href="#">Read more</a></h4>
                </article>

            </section>
        </div>
        <!--End left case study column-->
        {% endcomment %}

        <!--Begin center "about" column-->
        <div class="small-12 medium-8 columns">
            <section class="home-basics-column">
                <article class="home-basics-entry">
                    <h2>{{ page.title }}</h2>


                    {{ content }}
                    {%comment%}<h4><a href="#">Read more</a></h4>{% endcomment %}
                </article>
            </section>
        </div>
        <!--End center "about" column-->

        <!--Begin right case study column-->
        <div class="small-12 medium-4 columns">
            <section class="home-case-study-column">
{% comment %}
{% for casestudy in site.data.home-case-studies %}
  {% if casestudy.lang == page.lang %}
                <article class="home-case-study-entry">
                    <h4>Case study</h4>
                    {% if casestudy.image!='' %}<img src="{{casestudy.image}}">{% endif %}
                    <h2>{{casestudy.heading}}</h2>
                    <h4><a href="{{casestudy.link-destination}}">Read more</a></h4>
                </article>
  {% endif %}
{% endfor %}
{% endcomment %}
{% if page.lang == 'fr' %}
                <article class="home-case-study-entry">
                    <h4>Actualit&eacute;s</h4>
                    <img src="/img/Afficheur.jpg" />
                    <p>Colloque internationale sur le Projet des registres de la Com&eacute;die-Fran&ccedil;aise. Paris, 14-16 d&eacute;cembre 2015. Pr&eacute;cisions &agrave; suivre.</p>
                </article>
{% else %}
                <article class="home-case-study-entry">
                    <h4>News</h4>
                    <img src="/img/Afficheur.jpg" />
                    <p>Com&eacute;die-Fran&ccedil;aise Registers Project International Conference, Paris, 14-16 December, 2015. Watch here for more details.</p>
                </article>
{% endif %}
            </section>
        </div>
        <!--end right case study column-->

    </div>


    {% include footer.html %}
    </body>
</html>