<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
{% include head.html %}
</head>
    <body>
    <!-- body content here -->
{% include header.html %}

<ul class="hero-orbit" data-orbit data-options="slide_number:false;swipe:false;">
    <li>
        <div class="orbit-image" style="background-image: url('/img/header-img-1.jpg');"></div>
        <div class="orbit-caption">
            <div class="row">
                <div class="medium-9 columns hero-captions">
                    <h6>About the Project</h6>
                    <h1>The Facsimiles</h1>
                    <h3>A complete record of who, what, where... and how much</h3>
                    <p><a>Read More</a></p>
                </div>
            </div>
        </div>
    </li>
    <li class="active">
        <div class="orbit-image" style="background-image: url('/img/header-img-1.jpg');"></div>
        <div class="orbit-caption">
            <div class="row">
                <div class="medium-9 columns hero-captions">
                    <h6>About the Project</h6>
                    <h1>The Facsimiles</h1>
                    <h3>A complete record of who, what, where... and how much</h3>
                    <p><a>Read More</a></p>
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="orbit-image" style="background-image: url('/img/header-img-1.jpg');"></div>
        <div class="orbit-caption">
            <div class="row">
                <div class="medium-9 columns hero-captions">
                    <h6>About the Project</h6>
                    <h1>The Facsimiles</h1>
                    <h3>A complete record of who, what, where... and how much</h3>
                    <p><a>Read More</a></p>
                </div>
            </div>
        </div>
    </li>
</ul>

<div class="row">

    <!--Begin left case study column-->
    <div class="small-12 medium-3 columns">
        <section class="home-case-study-column">

            <article class="home-case-study-entry">
                <h4>Case study</h4>
                <h2>Changing patterns of public taste and cultural consumption</h2>
                <h4><a href="#">Read more</a></h4>
            </article>

            <article class="home-case-study-entry">
                <h4>Case study</h4>
                <h2>Changing patterns of public taste and cultural consumption</h2>
                <h4><a href="#">Read more</a></h4>
            </article>

        </section>
    </div>
    <!--End left case study column-->

    <!--Begin center "about" column-->
    <div class="small-12 medium-6 columns">
        <section class="home-basics-column">
            <article class="home-basics-entry">
                <h4>About this project</h4>
                <img src="/img/frontpiece3.jpg">
                <!--h1>The Basics of the Comedie-Francaise Register Project</h1-->
                {{ content }}
                <h4><a href="#">Read more</a>
            </article>
        </section>
    </div>
    <!--End center "about" column-->

    <!--Begin right case study column-->
    <div class="small-12 medium-3 columns">
        <section class="home-case-study-column">

            <article class="home-case-study-entry">
                <h4>Case study</h4>
                <h2>Changing patterns of public taste and cultural consumption</h2>
                <h4><a href="#">Read more</a></h4>
            </article>

            <article class="home-case-study-entry">
                <h4>Case study</h4>
                <h2>Changing patterns of public taste and cultural consumption</h2>
                <h4><a href="#">Read more</a></h4>
            </article>

        </section>
    </div>
    <!--end right case study column-->

</div>

{% include footer.html %}

    </body>
</html>