<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
{% include head.html %}
</head>
    <body>
    <!-- body content here -->
{% include header.html %}

<ul class="hero-orbit" data-orbit data-options="slide_number:false;navigation_arrows:false;timer_show_progress_bar:false;bullets:false;timer:false;swipe:false;">
    <li>
        <div class="orbit-image" style="background-image: url('/img/project-history-image-2.jpg');"></div>
        <div class="orbit-caption">
            <div class="row">
                <div class="small-9 columns hero-captions">
                    {% comment %}<h6>{% for item in site.data.single-translations %}{% if item.lang == page.lang and item.name == "project-background" %}{{item.title}}{% endif %}{% endfor %}</h6>{% endcomment %}
                    <h1>{{ page.title }}</h1>
                </div>
                <div class="small-3 columns hero-captions">
                    <div class="orbit-bullets">
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>

<div class="row content_row">

{% comment %}
<!--Begin left nav-->
    <div class="small-12 large-4 columns" id="pb-left-nav">
    </div>
<!--End left nav-->
{% endcomment %}

<!--Begin main content area-->
<div class="small-12 large-8 columns">
<article>
    {%comment%}<header class="post-header">
    <h2>{{ page.title }}</h2>
    </header>{%endcomment%}

    <article class="post-content">
    <p>{{ page.date }}</p>
    {{ content }}
    </article>
</article>
</div>
<!--End main content area-->

</div>

{% include footer.html %}
    </body>
</html>