<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
{% include head.html %}
</head>
    <body>
    <!-- body content here -->
{% include header.html %}

<ul class="hero-orbit" data-orbit data-options="slide_number:false;navigation_arrows:false;timer_show_progress_bar:false;bullets:false;timer:false;swipe:false;">
<li>
<div class="orbit-image" style="background-image: url('img/project-history-image-2.jpg');"></div>
<div class="orbit-caption">
<div class="row">
<div class="small-9 columns hero-captions">
<h6>Content Page</h6>
<h1>Content Page Title</h1>
</div>
</div>
</div>
</li>
</ul>

<div class="row content_row">
<!--Begin main content area-->
<div class="small-12 columns">
<article>
                {{page.custom_var}}{{page.author}}
                <header class="post-header">
                <h1>{{ post.title }}</h1>
                </header>

                <article class="post-content">
                {{ content }}
                </article>
</article>
</div>
</div>

{% include footer.html %}

    </body>
</html>